.about__container {
  display: grid;
  /* Create two columns. One with 35% width and the otehr with 50% width*/
  grid-template-columns: 35% 50%;
  gap: 15%;
}

.about__me {
  width: 100%;
  /* Make the height and width the same */
  aspect-ratio: 1/1;
  border-radius: 2rem;
  /* Linear gradient with a 45 degree tilt */
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  display: grid;
  place-items: center;
}

.about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  /* Smoothen hover effect (rotation) */
  transition: var(--transition);
}

.about__me-image:hover {
  transform: rotate(0);
}

.about__cards {
  display: grid;
  /* Shorthand for 1fr 1fr 1fr */
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.about__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
}

.about__card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  /* Keep default pointer upon hover */
  cursor: default;
}

.about__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.about__card h5 {
  font-size: 0.95rem;
}

.about__card small {
  font-size: 0.7rem;
  color: var(--color-light);
}

.about__content p {
  margin: 2rem 0 2.6rem;
  color: var(--color-light);
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change var(--animation-infinite);
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(300px, 50px);
  }
}

.cloud__right {
  animation: 8s cloud-move var(--animation-infinite);
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud__left {
  animation: 8s cloud-move-reverse var(--animation-infinite);
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .about__me {
    width: 50%;
    /* NEED TO ADJUST MARGINS IF IMAGE CHANGES */
    margin: 2rem auto 6rem;
  }

  .about__content p {
    margin: 1rem 0 1.5rem;
  }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  .about__me {
    width: 65%;
    /* NEED TO ADJUST MARGINS IF IMAGE CHANGES */
    margin: 3rem auto 6rem;
  }

  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .about__content {
    text-align: center;
  }

  .about__content p {
    margin: 1.5rem 0;
  }
}
