.about__container {
  display: grid;
  /* Create two columns. One with 35% width and the otehr with 50% width*/
  grid-template-columns: 35% 50%;
  gap: 15%;
}

.about__me {
  width: 100%;
  /* Make the height and width the same */
  aspect-ratio: 1/1;
  border-radius: 2rem;
  /* Linear gradient with a 45 degree tilt */
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  display: grid;
  place-items: center;
}

.about__me-image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  /* Smoothen hover effect (rotation) */
  transition: var(--transition);
}

.about__me-image:hover {
  transform: rotate(0);
}

.about__cards {
  display: grid;
  /* Shorthand for 1fr 1fr 1fr */
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.about__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
}

.about__card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  /* Keep default pointer upon hover */
  cursor: default;
}

